* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* This prevents scrolling */
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	color: #7a7a7a;
	font-size: 14px;
	line-height: 24px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background-color: #131212d4; /* Charcoal Grey with opacity */
    text-align: center;
    line-height: 40px;
    color: white;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-brand {
	line-height: 80px;
	padding: 0px;
}

.navbar-nav>li>a {
	color: #fff!important;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: none;
	line-height: 80px;
	padding: 0px;
	letter-spacing: 0.5px;
}

.navbar-nav>li {
	margin-left: 45px;
}

.header.active .navbar-nav>li>a {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-shadow: none;
	color: #121212!important;
}

.header.active {
    background-color: rgba(250, 250, 250, 0.98);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.navbar-brand {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	color: #fff!important;
	transition: all 0.5s;

}
.navbar-brand em {
	font-style: normal;
	color: #f7c552;
	font-size: 32px;
}
.header.active .navbar-brand {
	color: #121212!important;
}
.header .navbar-brand {
    font-weight: 800;
}
.navbar-inverse {
	background-image: none;
	background-color: transparent;
}
.header .navbar {
    margin: 0;
    border: none;
}
.page-section {
    padding: 80px 0;
}
.navbar-inverse .navbar-toggle {
	margin-top: 22px;
    border-color: #33c1cf;
    background-color: #33c1cf;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #f7c552;
}
bootstrap.min.css:5
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px!important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }
    .navbar-nav {
        float: right;
    }
}
.page-section {
    min-height: 100vh;
    padding: 0;
}

@media (max-width: 480px) {
    .page-section h1 {
        font-size: 3em;
    }
    .page-section h2 {
        font-size: 2em;
    }
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }
}

.baner-content {
	width: 100%;
  	padding-top: 35vh;
  	text-align: center;
  	background-image: url(../img/blog_item_01.jpg);
  	vertical-align: middle;
}

.baner-content .text-content {
	text-align: center;
}

.baner-content .text-content h2 {
	font-size: 36px;
	font-weight: 400;
	color: #fff;
}

.baner-content .text-content h2 span {
	font-weight: 700;
	color: #33c1cf!important;
}

.baner-content .text-content h2 em {
	font-style: normal;
	font-weight: 700;
	color: #f89624!important;
}

.baner-content .text-content p {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	padding: 0px 25%;
}

.baner-content .text-content .primary-white-button {
	margin-top: 25px;
}

.floating-buttons {
    position: fixed; /* Ensure buttons stay fixed on the viewport */
    bottom: 50px; /* Distance from the bottom of the viewport */
    left: 20px; /* Distance from the left edge of the viewport for the left buttons */
    right: 20px; /* Distance from the right edge of the viewport for the right buttons */
    display: flex; /* Use flexbox to arrange buttons */
    justify-content: space-between; /* Space buttons evenly within the container */
    gap: 10px; /* Space between buttons */
    z-index: 1000; /* Ensure buttons are above other content */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Back Button Styling */
#back-button {
    background-color: white;
    font-size: 14px;
    padding: 12px 18px; /* Adjusted for better button size */
    color: #33c1cf;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 20px;
    text-align: center;
    display: inline-flex;
    align-items: center; /* Center text and icon vertically */
}

/* Next Button Styling */
#next-button {
    background-color: #33c1cf;
    font-size: 14px;
    padding: 12px 18px; /* Adjusted for better button size */
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 20px;
    text-align: center;
    display: inline-flex;
    align-items: center; /* Center text and icon vertically */
}


#back-button i, #next-button i {
    margin-right: 8px; /* Space between icon and text */
}

.is-invalid {
    border: 2px solid red;
}

.input-error {
    border-color: red;
}


.row {
    display: flex;
    flex: 1;
    height: 100%;
}

/* Define the layout for the ecological calculator section */
.parallax-content {
    display: flex;
    background: linear-gradient(to right, #84a784 30%, white 30%);
    height: flex; /* Example height, adjust as needed */
    min-height: 90px;
    width: 100vw;  /* Full viewport width */
    padding: 100px 0;
    box-sizing: border-box;
    margin: 0; /* Ensure no extra margin */
}

.left-section {
    flex: 1;
    text-align: left;
    width: 100%;
    min-height: 90vh;
}

.right-section {
    flex: 1;
    padding: 20px;
    min-height: 90vh;
}

@media (min-width: 769px) {
    .col-md-3 {
        flex: 0 0 25%; /* 3-column width on larger screens */
    }

    .col-md-9 {
        flex: 0 0 75%; /* 9-column width on larger screens */
    }
}
.form-group {
    margin-bottom: 30px;
}

.left-section h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: -150px; /* Adjust as needed to move the title to the left */
    margin-top: 50px; /* Adjust as needed to move the title lower */
    color: white;
    line-height: 1.2;
    white-space: nowrap; /* Prevent line break */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis */
}

.line-dec {
    width: 380px; /* Increase the width to make the line longer */
    height: 5px;
    background-color: rgba(250, 250, 250, 0.5);
    margin: 20px 0px 15px 0px; /* Maintain the top and bottom margins */
    margin-left: -150px; /* Move the line to the left */
}

label {
    font-size: 18px; /* Adjust the size as needed */
    font-weight: bold; /* Optional: Make the text bold */
    color: #333; /* Optional: Change text color */
}

.primary-blue-button a {
	background-color: #33c1cf;
	font-size: 14px;
	padding: 12px 12px;
	color: white;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	text-align: center;
}